@{
    ViewBag.Title = "About";
}

@Styles.Render("~/Content/about.css")


<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <P>
                    Kitchens with Zest is your locally owned and operated one stop kitchen shop. We provide clients in
                    Kapiti with everything from concept and design, right through to the manufacturing process and installation.

                    When modelling your new kitchen here at Kitchens with Zest we utilise state of the art machinery and a
                    range of highly modern construction techniques. Coupled with top of the line materials and hardware,
                    this makes for a great kitchen that will last a life time, so get started with us today and be on
                    your way to that dream kitchen!
                </P>
            </div>
        </div>
        <div class="button">
            <div class="buttons">
                <div class="button1"><a href="@Url.Action("Gallery", "Home")">Read More</a></div>
                <div class="button2"><a href="@Url.Action("Contact", "Home")">Contact Us</a></div>
            </div>
        </div>


        <div class="content-2">
            <div class="img-2">
                <img src="~/Images/about1.jpg">
            </div>
            <div class="article">
                <p>
                    The team at Kitchens With Zest prides itself on being a dynamic group of experienced, professional and
                    highly qualified individuals. We are truly passionate about design,innovation and technology when it
                    comes to kitchens which is why we stay up to date with all industry trends and fashions so that we
                    can offer you forward thinking advice on both design and products.
                </p>
                <p>
                    Because each and every kitchen with us is custom made, our customers have a great deal of input,
                    right down to specific drawer front heights and configurations to suit their own special needs.
                </p>
            </div>

        </div>

        <div class="content-3">
            <div class="article-2">
                <p>
                    The team at Kitchens With Zest prides itself on being a dynamic group of experienced, professional and
                    highly qualified individuals. We are truly passionate about design, innovation and technology when it
                    comes to kitchens which is why we stay up to date with all industry trends and fashions so that we can
                    offer you forward thinking advice on both design and products.
                </p>
                <p>
                    Because each and every kitchen with us is custom made, our customers have a great deal of input, right down to
                    specific drawer front heights and configurations to suit their own special needs.
                </p>
            </div>
            <div class="img-3">
                <img src="~/Images/about2.jpg">
            </div>
            
        </div>
    </div>
</div>