
@{
    ViewBag.Title = "Admin";
}

<h2>Management</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Product", "Index", "Products")</li>
        <li>@Html.ActionLink("Gallery", "Index", "Galleries")</li>
        <li>@Html.ActionLink("Contact", "Index", "MessageBoxes")</li>
        
    </ul>
    
</div>

