
@{
    ViewBag.Title = "GetStart";
}

@Styles.Render("~/Content/getstart.css")


<div class="article">
    <h1>01/</h1>
    <h2>What type of appliances are you having?</h2>
    <p>
        Typically the appliances in a kitchen consist of the fridge, oven, hob, range hood, dishwasher and microwave.
        But you may have things such as a waste disposal, water filter, coffee machine or even a secondary dish washer
        or oven to incorporate. Things to consider for each appliance are, size (including ventilation clearances), utility
        sources and type ( gas, electricity, water) and the method of being incorporated into the kitchen (free standing,
        built-in or integrated).
    </p>
</div>

<div class="article">
    <h1>02/</h1>
    <h2>Who is using the kitchen?</h2>
    <p>
        We all use kitchens differently. We need to find out who and how the kitchen is being used. Families with small children
        will likely have different needs to those of a retired couple. Under bench microwaves are great for heat/liquid safety,
        but allow ease of access for small fingers. Also, we look at matching the kitchen to the house and surrounding areas.
        A poky little kitchen does no justice to a 6 bedroom house, likewise an entertainers kitchen is wasted on a 2 bedroom flat.
    </p>
</div>

<div class="article">
    <h1>03/</h1>
    <h2>Why is the kitchen being built?</h2>
    <p>
        Are you building new? Renovating? Fr who? Yourselves or a rental property? How long you, or someone else, is going to use
        the kitchen for can play a big factor in how much you spend on the kitchen and ultimately the design. Is the kitchen
        to help the home sell? Better to spend your money on things people can see rather
        than clever storage ideas that get lost in the scheme of an entire house.
    </p>
</div>

<div class="article">
    <h1>04/</h1>
    <h2>Do you have a time frame in mind?</h2>
    <p>
        Try to plan ahead. Kitchen design and manufacture takes time. Depending on materials used and intricacy of the
        design, a kitchen could take up to 6 weeks in production. Getting your kitchen in on time is a huge deal for
        us, but we need other contractors to play their part also. We work closely with your builders to ensure that we
        are doing the best we can do. Ideally, we'd like to be involved from the house planning stage. Often walls/windows
        are changed to accommodate the kitchen, it's a lot cheaper (and easier) to do this before consent is applied for.
        If you are renovating, the time frame can be affected by a lot of factors such as other trades people,
        weather and removal of existing kitchen.
    </p>
</div>

<div class="article">
    <h1>05/</h1>
    <h2>How much have you got to spend?</h2>
    <p>
        The kitchen is, in general, an integral part of the home. How much you have to spend plays a huge part
        in the design of your new kitchen. On average our kitchens cost our clients in the range of $15-25k.
        This isn't to say that we don't work outside of that range, it's just where most of our kitchens fall.
        If you have a budget in mind, it gives us an idea of how complex the cabinetry can be and what type of
        products you can afford. We always aim to provide a kitchen for your budget and offer additional options
        to take your kitchen to where you would like it to be. We don't aim to be the cheapest, we aim to provide
        a quality product that will last for years.
    </p>
</div>

<div class="image2">
    <img src="~/Images/getstart2.jpg">
</div>

<div class="article">
    <h1>06/</h1>
    <h2>I'm building new, what do I do?</h2>
    <p>
        Call us first so we can get an idea of where the build is at and what you are looking to achieve.
        Whether you are at the initial design stage, or well under way with framing up, it's never to soon
        to start thinking about the layout of your kitchen. Once we've seen your floor plans, we go over
        the ideal layout you would like for your kitchen, keeping in mind appliances, traffic flow and
        practical use of the kitchen. Once we have all this information, we supply you with a quote,
        floor plan and some 3D color concepts of your kitchen.
    </p>
</div>

<div class="article">
    <h1>07/</h1>
    <h2>I'm renovating an existing kitchen, what do I do?</h2>
    <p>
        Call us to arrange an appointment for someone to come out and meet you on site. This way we can
        take a measured floor plan of the area and discuss your ideas and options with you. It is most
        likely that you will need to come into our office to discuss these options once we have got back
        to you with an initial quote. Have a think about the appliances you would like to fit into your
        new kitchen, will you re-use existing ones or swap them out for completely different styles? i.e
        change a free standing oven to a wall mounted unit? Get rid of the microwave off the bench and
        into a purpose built underbench unit? We have lots of ideas and experience and are more than
        willing to share these with you!
    </p>
</div>

<div class="article1">
    <h2>Our team will consistently work to ensure that only the most perfect products are selected for your kitchen.</h2>
</div>



